.year-container{
    width:97%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.year-container .year-board-btn{
    text-align: left;
    padding: 20px 0;
    list-style-type: none;
    margin: auto;
    width: 90%;

}
.monthly-course-container .year-select{
    outline: none;
    margin: 20px 20px 20px 75px;
    background: var(--primary-violet);
    color: var(--primary-white);
    border-style: none;
    font-size: 20px;
    width: 100px;
    border-bottom: 2px solid var(--primary-white);
    
}
.year-container .year-board-btn button{
    display: inline;
    margin: 2px 20px;
    padding: 12px 17px;
    border-radius: 20px;
    border-style:none ;
    font-size:15px;
    color:var(--primary-white);
    background-color: var(--primary-violet);
    font-weight:600;
}
.year-container .year-board-btn button:hover{
    background-color: var(--primary-blue);
}

.active{
    background: var(--primary-blue);  
}
.year-container ul li:hover{
    background: var(--primary-blue);
}
.session-details-container{
    width: 95%;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(182px, 1fr) );
    grid-row-gap:20px ;
    font-size:20px;
    font-weight:bold;
    margin: 0 auto;
}
.session-number{
    width: 65%;
    line-height: 30px;
}
.session-count{
  font-size:40px;
  color:var(--primary-yellow);
  line-height: 55px;
}
.topic-details-container{
    width: 97%;
    padding: 20px 70px;
    font-size: 13px;
    font-weight: bold; 
    margin: 0 auto;
    padding-bottom: 50px;
}
.topic-content{
    display: flex;
    justify-content: space-between;
}
.topic-content h3{
    color:var(--primary-yellow);
    margin-top:30px;
}
.topic-content p{
    line-height: 14px;
    margin-top: 10px;
    width: 58%;
}

@media (max-width: 500px){
    .session-details-container{
        text-align: center;
    }
    .session-number{
        width: 100% !important;
    }
}
@media (max-width: 750px){
    .year-container{
        display: block;
        width: 95%;
        text-align: center;
    }
    .year-container .year-board-btn{
        text-align: center;
        width: 100%;
    }
    .year-container .year-board-btn button{
        margin: 0;
        padding: 12px 15px;
    }
    .monthly-course-container .year-select{
            margin: 0;
    }
}
@media (max-width: 922px){
    .topic-content{
        display: block;
    }
    .topic-details-container{
        text-align: center;
        padding: 10px;
    }
    .topic-content p{
        width: 100%;
    }




}
/****************************************Yearly footer***********************************************************/
.footer-items button{
    color:var(--primary-blue);
    font-weight:800;
}
.head-para span{
    color:var(--primary-yellow);
}
.head-para span s{
    font-size: 12px;
}
.sub-para{
    font-size:12px;
}
.A11{
    width: 30%;
    padding: 20px;
    line-height: 28px;
}
.A22{
    width: 40%;
    padding: 20px;
    line-height: 28px;
}

.A11 .head-para{
 font-size:20px;
 line-height: 40px;
}
.A22 .head-para{
    font-size:20px;
    line-height: 40px;
}

.tab-sub{
    font-size:15px;
    font-weight:bold;
}
.yearA3{
    width: 30%;
    padding: 20px;
    text-align:center;
    color:black;
    margin: auto;
}
.yearA3 .month-btn{
    height:40px;
    background:var(--primary-yellow);
    
}

@media (max-width: 922px){
    .A11,.A22{
        width: 100%;
        padding: 10px;
    }
    .yearA3{
        width: 80%;
        padding: 10px;
    }
    .terms{
        line-height: 50px;
    }
}
