:root{
    --primary-blue:#002D62;
    --primary-violet:#6600cc;
    --primary-orange:#ffa60f;
    --primary-white:#fff;
    --primary-yellow:#FDDA0D;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Arial;
}
.App{
    width: 100%;
    background: var(--primary-white);
}
.banner-container{
    width: 90%;
    background: var(--primary-violet);
    margin: auto;
    border-radius: 25px;
    border-style: none;
}
.btn-container{
    padding:20px;
    padding-left:80px;
}
.btn-container button{
    width:15%;
    height:40px;
    border-style: none;
    border-radius: 25px;
    background:var(--primary-violet);
    color: var(--primary-white);
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
}

.btn-container button:hover{
    background: var(--primary-blue);

}
.clk{
    background: var(--primary-blue) !important;

}