:root{
    --primary-blue:#0b2e8e;
    --primary-violet:#6053c9;
    --primary-orange:#ffa60f;
    --primary-white:#fff;
    --primary-light-violet:#7b6fd1;
}
.main-container{
    width:100%;
    background:var(--primary-blue);
    margin:0 auto;
    padding: 0 0 20px 0;
    color:var(--primary-white);
    border-radius: 0 0 25px 25px;

} 
.monthly-course-container{
    background:var(--primary-violet);
    border-radius:0 0 25px 25px;
    width:100%;
    padding-bottom: 10px;
}
.monthly-course-container select{
    outline:none;
    margin: 20px 20px 20px 75px;
    background: var(--primary-violet);
    color:var(--primary-white);
    border-style: none;
    font-size:20px;
    width: 15%;
    border-bottom:2px solid var(--primary-white);

}

.monthly-card-skeleton{
    display:flex;
    width:90%;
    justify-content: space-around;
    background:var(--primary-light-violet);
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
    
    
}
.monthly-card-skeleton input{
    margin: auto;
    width: 15%;
}
.month-duration{
    width: 30%;
    padding-top: 5px;
}
.month-duration label{
    font-size:20px;
    font-weight:bold;
}
.offer{
    font-size: 13px;
    line-height: 20px;
}
.month-price{
    width: 30%;
}
.month-price p{
    font-size: 20px;
    font-weight: 800;
    color:var(--primary-orange);
}
.month-price p span{
    font-size: 14px;
    font-weight: 200;
    color:var(--primary-orange);

}

.month-price .discount{
    font-size: 13px;
    line-height: 20px;
    background:var(--primary-violet);
    border-radius: 5px;
    width:70px;
    color:var(--primary-white);
    padding:2px;
}
.session-duration{
    width: 25%;
    padding-top: 5px;
}
.session-duration .price-session{
    font-size:20px;
    font-weight:bold;
}
.session-duration .session-count{
    font-size: 13px;
    line-height: 20px;
}

@media (max-width: 922px){
    .monthly-course-container select{
        margin: 10px;
        width: 50%;
    }
    .dropdown-container{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .monthly-card-skeleton{
        display: block;
        text-align: center;
    }
    .month-duration{
        width: 80%;
        margin: 5px auto;
    }
    .month-price{
        width: 80%;
        margin: 5px auto;
    }
    .month-price .discount{
        margin: 5px auto;
    }
    .session-duration{
        width: 80%;
        margin: 5px auto;
    }


}




/***********************************************Month footer***************************************************************/
.footer-container{
    width:100%;
    padding: 20px 75px;
    color:var(--primary-white);
}
.footer-items{
    display:flex;
    justify-content: space-between;
    font-size:25px;
    font-weight: 600;
    
}
.footer-items .A1{
    width: 35%;
    padding: 20px;
    line-height: 28px;

}
.footer-items .A2{
    width: 30%;
    padding: 20px;
    line-height: 28px;
}
.footer-items .A3{
    width: 25%;
    padding: 20px;
    text-align:center;
    
}
.month-btn{
    border-style: none;
    background: var(--primary-orange);
    border-radius: 20px;
    width: 80%;
    height: 38px;
    margin: 14px auto;
    font-weight:700;
}
.terms{
    float:right;
    color:var(--primary-white);
    font-size:13px;
}
.terms a{
    color:var(--primary-white);
}


@media (max-width: 922px){
    .footer-container{
        padding: 20px;
        text-align: center;
    }
    .footer-items{
        display: block;
        width:100%;
        margin: auto;
        font-size: 20px;
    }
    .footer-items .A1{
        width: 100%;
        padding: 10px;
    }
    .footer-items .A2{
        width: 100%;
        padding: 10px;
    }
    .footer-items .A3{
        width: 100%;
        padding: 10px;
    }




}